<section>
<ul class="Menu">
<% @category.each do |category| %>
    <li class="MenuCategory">
      <div >
        <p class="MenuCategory-name"><%= category.name %></p>
        <% category.menu_items.get_items(category.id).each do |item| %>
        <li class="MenuItem">
          <div class="MenuItem-container">
            <div ><h4 class = "MenuItem-name"><%= item.name %></h4></div>
            <div><span class="MenuItem-price">₹<%= item.price.to_i / 100 %></span></div>
          </div>
          <span>Add</span>
        <li>
          <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</section>
