<section>
<ul class="Menu">
<% @category.each do |category| %>
    <li class="MenuCategory">
      <div >
        <p class="MenuCategory-name"><%= category.name %></p>
        <% category.menu_items.get_items(category.id).each do |item| %>
        <li class="MenuItem">
          <div class="MenuItem-container">
            <div ><h4 class = "MenuItem-name"><%= item.name %></h4></div>
            <div><span class="MenuItem-price">₹<%= item.price.to_i / 100 %></span></div>
          </div>
          <span>Add</span>
        <li>
          <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</section>
<div class="sc-1s0saks-10 cYSFTJ"><div class="sc-1s0saks-11 cYGeYt"><div class="sc-1s0saks-13 kQHKsO"><h4 class="sc-1s0saks-15 iSmBPS">Veg Gravy</h4><div class="sc-17hyc2s-3 jOoliK sc-1s0saks-8 gYkxGN"><span class="sc-17hyc2s-1 cCiQWA">₹80</span></div></div><div class="sc-1usozeh-0 fJNrek"><div class="sc-1usozeh-8 cBmpNp"><span class="sc-1usozeh-6 fTsfFl">Add</span><i class="rbbb40-1 MxLSp sc-1usozeh-4 TZpZK" size="14" color="#ED5A6B"><svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img" class="rbbb40-0 hoSSCx"><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z"></path></svg></i></div><span class="sc-1usozeh-1 fuGMDN">customizable</span></div></div><p class="sc-1s0saks-12 hcROsL"></p></div>
