.MenuCategorySection {
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.Menu {
  text-align: left;
  /* padding-right: 30px; */
}

.MenuCategory-name {
  font-size: 20px;
  margin-top: 10px;
}

.MenuItem {
  padding-bottom: 8px;
  display: flex;
}

.MenuItem-container {
  /* display: flex; */
  padding-left: 5px;
  font-size: 15px;
  line-height: 20px;
  /* align-items: center; */
}

.MenuItem-price {
}

.MenuItem-name {
  /* padding-right: 10px; */
  word-wrap: break-word;
  width: 200px;
}
